.cart-count {
    text-align: center;
    color: yellow;
}

.product {
    text-align: center;
}

.fa-star {
    color: gold;
}

small {
    font-size: x-small;
}

.purchase span {
    color: red;
    font-weight: bold;
}

.form-control {
    display: inline;
}